<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.firstapplication.user.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".SPLASH">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignUP" />
        <activity android:name=".mainmenu" />
        <activity android:name=".Exit" />
        <activity android:name=".BMI" />
        <activity android:name=".WelcomePage" />
        <activity android:name=".ChooseSpeciality" />
        <activity android:name=".delay1afterwelcomepage" />
        <activity android:name=".Query" />
        <activity android:name=".Diseases" />
        <activity android:name=".IntestinalInfectionsView" />
        <activity android:name=".Cholera" />
        <activity android:name=".ViralDiseases_view" />
        <activity android:name=".BacterialDiseases" />
        <activity android:name=".identifytheuser" />
        <activity android:name=".BMIresults" />
    </application>

</manifest>